@import "/fonts/font.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
body {
    @apply bg-gray font-blender;
}

.custom-btn {
    @apply text-white py-4 px-6 uppercase border-none rounded-md text-xl;
    background: linear-gradient(355.25deg, #803a9a 2.77%, #bb6bd9 95.12%);
}

.landing-wrap {
    @apply bg-white m-10;
    height: calc(100vh);
}

.nav-menu {
    @apply bg-white;
    height: calc(100vh);
}

.modern-wrap {
    @apply bg-darkBg m-10 text-center flex items-center justify-center;
    min-height: 700px;
}

.title {
    @apply bg-black text-white w-auto inline-block p-1 absolute;
    top: -15px;
    left: 45%;
}

.last-card {
    background-color: #AD60CA;
    height: 120px;
}

.div-border {
    border-width: 1px;
}

.description {
    @apply m-10;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.font-24 {
    font-size: 24px;
}

.font-16 {
    font-size: 16px;
}

.line-20 {
    line-height: 20px;
}

.font-12 {
    font-size: 12px;
}

.line-14 {
    line-height: 14px;
}

.color-purple {
    color: #803A9A;
}

.footer-button {
    width: 280px;
    height: 44px;
    font-size: 16px;
    line-height: 19px;
    padding: 5px;
}

.link-text {
    color: '#FFFFFF';
    opacity: 0.5;
}

.copyright-text {
    color: #BDBDBD;
    font-size: 14px;
    line-height: 17px;
}