@import "/fonts/font.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, #__next {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    @apply bg-gray-100 font-blender h-full;
}

.custom-btn {
    @apply text-white py-4 px-6 uppercase border-none rounded-md text-xl;
    background: linear-gradient(355.25deg, #803A9A 2.77%, #BB6BD9 95.12%);
}

.profile-card:hover>img {
    mix-blend-mode: normal;
}

.delay-75s {
    animation-delay: .75s;
    -moz-animation-delay: .75s;
    -webkit-animation-delay: .75s;
}

.delay-1s {
    animation-delay: 1s;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.delay-2s {
    animation-delay: 2s;
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    body {
        zoom: 80%;
    }
}